.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow-y: scroll;

    h1 {
      font-weight: 300;
    }

    .message {
      background-color: white;
      padding: 1.25rem;
      border-radius: 0.675rem;
      display: flex;
      align-items: center;
      gap: 1.25rem;
      cursor: pointer;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .chatBox {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      background-color: #f7c14b85;
      padding: 1.25rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        img {
          width: 1.875rem;
          height: 1.875rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .close {
        cursor: pointer;
      }
    }

    .center {
      overflow-y: scroll;
      height: 21.875rem;
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      .chatMessage {
        width: 50%;

        &.own {
          align-self: flex-end;
          text-align: right;
        }

        span {
            font-size: 0.75rem;
            background-color: #f7c14b85;
            padding: 0.125rem;
            border-radius: 0.3125rem;
        }
      }
    }

    .bottom {
      border-top: 0.125rem solid #f7c14b85;
      height: 3.75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        flex: 3;
        height: 100%;
        border: none;
        padding: 1.25rem;
      }

      button {
        flex: 1;
        background-color: #f7c14b85;
        height: 100%;
        border: none;
        cursor: pointer;
      }
    }
  }
}
